/* Theme Color Palettes */

:root {
  /* Light Mode Palette */
  --bg-primary: #f2f2f2ff;
  --header-bg: rgba(255, 255, 255, 0.6);
  
  --text-primary: #262626;
  --text-secondary: rgba(0, 0, 0, 0.80);
  --text-tertiary: rgba(0, 0, 0, 0.6);

  --accent-primary-text: #000000;
  
  --border-color: #D9D9D9;
  --border-hover: rgba(0, 0, 0, 0.12);
  
  --overlay-bg: rgba(255, 255, 255, 0.04);
  --overlay-hover: rgba(0, 0, 0, 0.04);
  
  --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 6px 24px rgba(0, 0, 0, 0.18);
  
  --tech-badge-bg: rgba(0, 0, 0, 0.06);
  
  --award-bg: #ffe9a0;
  --award-text: #42310a;
  --award-border: rgba(0, 0, 0, 0.04);
}

[data-theme="dark"] {
  /* Dark Mode Palette */
  --bg-primary: #111110;
  --header-bg: #111110;
  
  --text-primary: #ccccccee;
  --text-secondary: rgba(255, 255, 255, 0.70);
  --text-tertiary: rgba(255, 255, 255, 0.50);

  --accent-primary-text: #f2f2f2;
  
  --border-color: rgba(255, 255, 255, 0.08);
  --border-hover: #F2F2F2;
  
  --overlay-bg: rgba(255, 255, 255, 0.05);
  --overlay-hover: rgba(255, 255, 255, 0.08);
  
  --shadow-md: 0 6px 24px rgba(255, 255, 255, 0.08);
  --shadow-lg: 0 6px 24px rgba(255, 255, 255, 0.18);
  
  --tech-badge-bg: rgba(255, 255, 255, 0.1);
  
  --award-bg: #4a3b1f;
  --award-text: #ffd97d;
  --award-border: rgba(255, 255, 255, 0.1);
}
